* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(0, 0, 0);
    color: #FEFEFE;
}

#container {
    padding: 60px 15px;
}

a {
    color: #FF0042;
    font-weight: bolder;
    text-decoration: none;
}

h1 {
    font-size: 16px;
    font-weight: bolder;
}


/* Post.html */

.table-head {
    display: flex;
}

.table-head div {
    padding: 5px;
    margin: 2px;
    background-color: #2C2C2C;
    font-weight: bold;
}

.table-head .status {
    flex: 5%;
}

.table-head .subjects {
    flex: 70%;
}

.table-head .replies {
    flex: 10%;
}

.table-head .last-reply {
    flex: 15%;
}


/* posts table's body  */

.table-row {
    display: flex;
}

.table-row .status,
.table-row .subjects,
.table-row .replies,
.table-row .last-reply {
    padding: 5px;
    margin: 2px;
    background-color: #131415;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 5px;
}

.table-row .status {
    flex: 5%;
    font-size: 30px;
    text-align: center;
}

.table-row .subjects {
    flex: 70%;
}

.table-row .replies {
    flex: 10%;
}

.table-row .last-reply {
    flex: 15%;
}


/* navigation path*/

.navigate {
    margin-block: 20px;
    font-weight: lighter;
    font-size: 24px;
}

.navigate a {
    color: #fff;
}

.navigate a:hover {
    color: #FF0042;
    font-weight: bolder;
}


/* Pagination*/

.pagination {
    padding: 20px;
    font-size: 15px;
}

.pagination a {
    color: #fff;
    margin-inline: 5px;
    padding: 5px 10px;
    border: solid 0.5px #fff;
}

.pagination a:hover {
    opacity: 0.5;
}

.note {
    background-color: #111314;
    padding: 20px;
    display: block;
}

.note span {
    font-size: 20px;
    margin-block: 5px;
}

footer {
    background-color: #111314;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: lighter;
}