/* ########################################### */
/*                 Global                      */
/* ########################################### */








/* ########################################### */
/*           Forums.html                       */
/* ########################################### */


/* For the smartphones */
@media screen and (max-width: 460px) {
    .container{
        margin: 10px;
        padding: 10px;
    }

    .subforum-row{
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 65% 35%;
    }

    .subforum-devider{
        display: block;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(190, 190, 190, 0), rgba(255, 255, 255, 0.75), rgba(190, 190, 190, 0));
    }
  }

/* For the tablets */
@media screen and (min-width: 460px) and (max-width: 1024px) {
    .container{
        margin: 15px;
        padding: 15px;
    }

    .subforum-row{
        display: grid;
        grid-template-columns: 10% 60% 10% 20%;
    }

    .subforum-icon i{
        font-size: 35px;
    }

    html{
        font-size: 14px;
    }

    h1{
        font-size: 16px;
    }

  }
@font-face {
    font-family:aquire;
    src:url(aquire.otf);
}

.brand{
    font-size:60px;
    display: inline-block;
    font-family:aquire;
}

/*Navbar for the smartphones*/
@media screen and (max-width: 460px){
    .navigation{
        max-height: auto;
    }
    
    .close-icon i{
        font-size:30px;
    }
    
    .nav-item a{
        float:left;
        display:inline;
        margin-inline: 3px;
        font-size: 10px;
        padding: 5px;
    }
    
    
    .bar-icon{
        font-size: 30px;
    }
 
    .brand{
        font-size:20px;
    }
}

  /* Search Box styles */
/* .search-box{
    border: solid 1px #52057b;
    margin-top: 20px;
    padding: 40px;
    display:flex;
    justify-content: center;
    box-shadow:1px 2px 3px #52057b;
}

.search-box select{
    padding: 10px;
}

.search-box input{
    padding: 10px;
}

.search-box button{
    padding: 10px;
    background-color:#fff;
    color:#000000;
}

.search-box button:hover{
    background-color: #000000;
    color: #fff;
    box-shadow: 1px 2px 3px #fff;
} */

/* search box for smrtphones */
@media screen and (max-width: 460px){
    .search-box input, .search-box button, .search-box select{
        min-width: 300px;
        margin-top: 5px;
    }    

}

/* forum info Styling */
.forum-info{
    padding: 20px;
    background-color: #111314;
}

.chart{
    font-size:20px;
    font-weight:bold;
}
/* Footer Styling */



/* ########################################### */
/*            posts.html                       */
/* ########################################### */

/* posts table's head  */


/* posts table's body  */


/* * {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    margin: 0px auto;
    max-width: 960px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
}

header {
    position: 100%;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #f5f5f5;
    padding: 20px 0px;
    transition: all 0.5s;
    margin-inline: 10px
}

header.sticky {
    background: #fff;
    opacity: 0.9;
    color: #000;
    padding: 5px 0px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}

header.sticky #logo {
    color: #000;
}

header.sticky #main-menu a {
    color: #000;
}

header.sticky.btnLogin-popup {
    width: 90px;
    height: 40px;
    background: transparent;
    border: 2px solid black;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: black;
    font-weight: 500;
    margin-left: 40px;
}

#logo {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul#main-menu {
    display: flex;
}

ul#main-menu li a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
}

ul#main-menu li:hover a {
    color: coral;
    transition: all 0.5s;
}

#banner {
    background: url(/Images/hacker-nga-1646146686700.jpg);
    min-height: 900px;
    width: 100%;
    background-size: cover;
}

#content h1 {
    padding: 30px 0px;
}

#content {
    margin-bottom: 1.2rem;
}

.box-submenu {
    display: none;
}

#main-menu li:hover .box-submenu {
    display: block;
    position: absolute;
    background: #dfff;
    margin-top: 15px;
    margin-left: -15px;
}

ul#main-menu li:hover .box-submenu {
    display: block;
    margin: 0px;
    padding: 0px;
}

ul#main-menu li:hover .box-submenu li {
    width: 220px;
    text-align: left;
    border-bottom: dotted 1px #fff;
    background: transparent;
    border-radius: 0;
    padding: 15px;
    margin: 10px;
}

ul#main-menu li:hover .box-submenu li a {
    color: black;
}

ul#main-menu li:hover .box-submenu li:last-child {
    border-bottom: none;
}

ul#main-menu li:hover .box-submenu li a:hover {
    color: yellowgreen;
}
footer {
   text-align: center;
    color:#fff;
    background-color:black;

} */
/* Post.html */
.table-head{
    display: flex;
}

.table-head div{
    padding: 5px;
    margin: 2px;
    background-color: #2C2C2C;
    font-weight: bold;
}

.table-head .status{
    flex: 5%;
}

.table-head .subjects{
    flex: 70%;
}

.table-head .replies{
    flex: 10%;
}

.table-head .last-reply{
    flex: 15%;
}
table-row{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #131415;
}

.table-row .status, .table-row .subjects, .table-row .replies, .table-row .last-reply{
    padding: 0px;
    margin: 0px;
    background-color: #131415;
}

.table-row .status{
    flex: 5%;
    font-size: 30px;
    text-align: center;
}

.table-row .subjects{
    flex: 70%;
}

.table-row .replies{
    flex: 10%;
}

.table-row .last-reply{
    flex: 15%;
}

/* navigation path*/
.navigate{
    margin-block: 20px;
    font-weight: lighter;
    font-size: 24px;
}

.navigate a{
    color: #fff;
}

.navigate a:hover{
    color:#FF0042;
    font-weight: bolder;
}

/* Pagination*/

.pagination{
    padding: 20px;
    font-size: 15px;
}

.pagination a{
    color: #fff;
    margin-inline: 5px;
    padding: 5px 10px;
    border: solid 0.5px #fff;
}

.pagination a:hover{
    opacity: 0.5;
}

.note{
    background-color:#111314;
    padding: 20px;
    display: block;
}

.note span{
    font-size: 20px;
    margin-block: 5px;
}